rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /lostItems/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
    match /inventoryItems/{allPaths=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}